@import 'tailwindcss';
@import 'tw-animate-css';


:root {
  --background: hsl(1 0 0);
  --foreground: hsl(0.145 0 0);
  --card: hsl(1 0 0);
  --card-foreground: hsl(0.145 0 0);
  --popover: hsl(1 0 0);
  --popover-foreground: hsl(0.145 0 0);
  --primary: hsl(0.205 0 0);
  --primary-foreground: hsl(0.985 0 0);
  --secondary: hsl(0.97 0 0);
  --secondary-foreground: hsl(0.205 0 0);
  --muted: hsl(0.97 0 0);
  --muted-foreground: hsl(0.556 0 0);
  --accent: hsl(0.97 0 0);
  --accent-foreground: hsl(0.205 0 0);
  --destructive: hsl(0.577 0.245 27.325);
  --destructive-foreground: hsl(0.577 0.245 27.325);
  --border: hsl(0.922 0 0);
  --input: hsl(0.922 0 0);
  --ring: hsl(0.708 0 0);
  --chart-1: hsl(0.646 0.222 41.116);
  --chart-2: hsl(0.6 0.118 184.704);
  --chart-3: hsl(0.398 0.07 227.392);
  --chart-4: hsl(0.828 0.189 84.429);
  --chart-5: hsl(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: hsl(0.985 0 0);
  --sidebar-foreground: hsl(0.145 0 0);
  --sidebar-primary: hsl(0.205 0 0);
  --sidebar-primary-foreground: hsl(0.985 0 0);
  --sidebar-accent: hsl(0.97 0 0);
  --sidebar-accent-foreground: hsl(0.205 0 0);
  --sidebar-border: hsl(0.922 0 0);
  --sidebar-ring: hsl(0.708 0 0);
}

.dark {
  --background: hsl(0.145 0 0);
  --foreground: hsl(0.985 0 0);
  --card: hsl(0.145 0 0);
  --card-foreground: hsl(0.985 0 0);
  --popover: hsl(0.145 0 0);
  --popover-foreground: hsl(0.985 0 0);
  --primary: hsl(0.985 0 0);
  --primary-foreground: hsl(0.205 0 0);
  --secondary: hsl(0.269 0 0);
  --secondary-foreground: hsl(0.985 0 0);
  --muted: hsl(0.269 0 0);
  --muted-foreground: hsl(0.708 0 0);
  --accent: hsl(0.269 0 0);
  --accent-foreground: hsl(0.985 0 0);
  --destructive: hsl(0.396 0.141 25.723);
  --destructive-foreground: hsl(0.637 0.237 25.331);
  --border: hsl(0.269 0 0);
  --input: hsl(0.269 0 0);
  --ring: hsl(0.439 0 0);
  --chart-1: hsl(0.488 0.243 264.376);
  --chart-2: hsl(0.696 0.17 162.48);
  --chart-3: hsl(0.769 0.188 70.08);
  --chart-4: hsl(0.627 0.265 303.9);
  --chart-5: hsl(0.645 0.246 16.439);
  --sidebar: hsl(0.205 0 0);
  --sidebar-foreground: hsl(0.985 0 0);
  --sidebar-primary: hsl(0.488 0.243 264.376);
  --sidebar-primary-foreground: hsl(0.985 0 0);
  --sidebar-accent: hsl(0.269 0 0);
  --sidebar-accent-foreground: hsl(0.985 0 0);
  --sidebar-border: hsl(0.269 0 0);
  --sidebar-ring: hsl(0.439 0 0);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
